html {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

P {
    max-width: 300px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: rgb(218, 216, 216);
    font-family: 'Montserrat', sans-serif;
}