html {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:rgb(245, 245, 245);
    font-family: 'Montserrat', sans-serif;
}

.btn {
    padding: 5px 15px 5px 15px;
    border: 1px solid hsl(0, 0%, 74%);
    margin-bottom: 10px;
    border-radius: 8px;
}

P {
    max-width: 300px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}




.container {
    border-radius: 28px;
    box-shadow: 0.1rem 0.4rem 0.4rem rgb(139, 139, 139);
    padding: 50px;
}