html {
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(245, 245, 245);
}



.artists {
    
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    
    
   
}

.artist {
    padding: 5px;
    margin: 1.5rem;
    box-shadow: 0.1rem 0.4rem 0.4rem rgb(139, 139, 139);
    font-size: 1em;
    text-align: center;
    border-radius: 15px;

    
}


.artist:hover {
    transform: scale(1.15);
}





