html {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.btn.btn-light {
    padding: 5px 15px 5px 15px;
    color: #555252;
    border: 1px solid hsl(0, 1%, 16%);
    margin-bottom: 10px;
    border-radius: 8px;
}

P {
    max-width: 300px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: rgb(218, 216, 216);
    font-family: 'Montserrat', sans-serif;
}


.container {
    background: rgb(189, 188, 188);
    border-radius: 28px;
    padding: 50px;
}